<IfModule mod_rewrite.c>
    RewriteEngine On

    # Autoriser les fichiers statiques comme /css/style.css ou /js/script.js
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rediriger tout le reste vers index.php
    RewriteRule ^ index.php [L]
</IfModule>
